[Unit]
Description=tpf-server
After=syslog.target

[Service]
Type=simple
ExecStart=/usr/local/bin/aooserver -r -p 27001 -l 3
User=tpf-server
Group=tpf-server

[Install]
WantedBy=multi-user.target
